@font-face {
    font-family: "MainFont";
    src: url("font.ttf");
}
/*ああああああああビューポートsine() aaaaaaa
アイツ入れるとレイアウトめっちゃ壊れるうえに、
ページ更新毎にレイアウト変わる
あれ入れたくない...
でもメディアクエリ使わんと辛い
aaaaaaaa
どっちも妥協できない*/

/*@import url('style-sheet_tabletTablet.css') (max-width: 1020px) and (min-width: 768px);
@import url('style-sheet_smartphone.css') screen and (max-width: 767px);*/

/*PC*/
body {
    width:97%;
    margin:0 auto;

    font-family: "MainFont";
    color: darkgreen;
    background: rgb(223, 217, 192);
}

a {
    text-decoration: none;
    color: #FFFFF5;
}

.list {
    float: right;
    list-style: none;
    margin: 33px 20px;
    padding: 10px;
    background-color: black;
}

ul {
    list-style: none;
}

/*ヘッダー*/
header {
    width: 100%;
    height: 100px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    background-image: url(img/logo3.png);
}
#langEnglish {
    height: 70px;
    width: auto;
    display: block;
    position: fixed;
    right: 30px;
    top: 30px;
    cursor: pointer;
    background-color: #ffffff79;
    padding: 5px;
    border-radius: 5px;
    border: solid black 3px;
    transition: 0.5s;
}
#langEnglish:hover {
    transform: scale(110%) rotate(-15deg) rotateX(360deg);
}
.header-title {
    margin: 5px;
    transition: 0.5s;
}
#title-img {
    transform: translateY(-230%);
    transition: 0.5s;
    display: none;
    filter: hue-rotate(90deg);
}
#title-img:hover {
    padding: 20px;
    border-radius: 10px;
    border: lemonchiffon solid 3px;
    background-color: black;
}
/*メイン*/
.main {
    background: #fff9ba;
    border: black solid;
    margin: 10px 14px;
    padding: 5px;
}

.main h1 {
    text-align: center;
    font-size: 50px;
    background: rgb(155, 190, 85);
    border-radius: 1000%;
    padding: 20px 5px;
}

/*フッター*/
footer {
    width: 100%;
    height: 120px; 
    text-align: center;
    padding: 50px 0;
    color: springgreen;
    background-image: url(img/logo2.png);
    font-size: 20px;
}
footer a {
    color: lightskyblue;
    text-decoration: underline solid lightskyblue;
}
footer a:hover {
    text-decoration: none;
}










/*******ここからはその他*********/

/* ▼ GoToTopButton*/
#top_move {
    user-select: none;
    font-size: 26px;
    cursor: pointer;
    display: inline;
    padding: 0.65em 0.5em;
    text-decoration: none;
    background: #EF323D;
    color: #FFF;
    border-bottom: solid 5px #750006;
    border-radius: 10px;
    position:fixed;
    right:40px;
    bottom:40px;
    transition:0s 0.1s ease-out;
}

#top_move:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}
/* ▲ GoToButton*/

/* ▼ ハンバーガ*/
nav.header-menu {
    position: fixed;
    z-index: 2;
    top: 15px;
    left: 20px;
    text-align: center;
    transition: all 0.3s;
    width: 200px;
    transform:translateX(-300%);
}
nav.header-menu ul {
    /*background: rgba(255, 255, 255, 0.9);*/
    margin: 0 auto;
    padding: 0;
    width: 300%;
}
/*各メニューの設定*/
nav.header-menu ul li {
    font-size: 1.5em;
    list-style-type: none;
    padding: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10em;
    transition: 0.3s;
}
nav.header-menu ul li:hover {
    /*transform:translateX(70%)*/
    font-size: 1.5em;
}
nav.header-menu ul li a {
    display: block;
    color: black;
    padding: 1em 0;
    border-radius: 10em;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.534);
}
/*れいんぼー*/
.menu-red li a{
    background: rgba(255, 71, 71, 0.5);
}
.menu-yellow li a{
    background: rgba(252, 255, 71, 0.5);
}
.menu-green li a{
    background: rgba(71, 255, 86, 0.5);
}
.menu-blue li a{
    background: rgba(71, 74, 255, 0.5);
}
.menu-purple li a{
    background: rgba(255, 71, 255, 0.5);
}
.menu-orange li a{
    background: rgba(255, 181, 71, 0.5);
}
.menu-indigo li a{
    background: rgba(71, 249, 255, 0.5);
}
.header-menu ul span li a:hover {
    border: solid black;
    filter: sepia(100%);
}
/*ハンバーガーボタン*/
.nav-toggle {
    display: block;
    position: fixed;
    left: 30px;
    top: 30px;
    width: 42px;
    height: 40px;
    cursor: pointer;
    z-index: 3;
    background: rgba(90, 90, 90, 0.75);
    text-align: center;
    border: gray solid 5px;
}
.nav-toggle span {
    display: block;
    position: absolute;
    width: 30px;
    border-bottom: solid 3px white;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    left: 6px;
}
.burger-top {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.burger-bottom {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.burger-middle {
    border-radius: 100%;
}
.nav-toggle span:nth-child(1) {
    top: 9px;
}
.nav-toggle span:nth-child(2) {
    top: 18px;
}
.nav-toggle span:nth-child(3) {
    top: 27px;
}
.nav-toggle span:nth-child(4) {
    border: none;
    color: #eee;
    font-size: 9px;
    font-weight: bold;
    top: 34px;
}
/* このクラスを、jQueryで付与・削除する */
nav.header-menu.active {
    transform: translateX(0%);
}
/* 最初のspanを315度に */
.nav-toggle.active span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
}  
/* 2番目と3番目のspanを-315度に */
.nav-toggle.active span:nth-child(2),
.nav-toggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
}
/* ▲ ハンバーガ*/