$breakpoint: 718px;
$breakpoint-hamburger-menu: 792px;
$breakpoint-ultra-narrow: 380px;

@mixin pc {
	@media screen and (min-width: $breakpoint) {
		@content;
	}
}

@mixin sp {
	@media screen and (max-width: #{$breakpoint - 1}) {
		@content;
	}
}

@mixin hm {
	@media screen and (max-width: #{$breakpoint-hamburger-menu - 1}) {
		@content;
	}
}

@mixin not-un {
	@media screen and (min-width: $breakpoint-ultra-narrow) {
		@content;
	}
}

@mixin glassmorphism(
	$blur: 4px,
	$background-color: #ffffff35,
	$border-light: 2px solid #ffffff30,
	$border-dark: 2px solid #00000017,
	$border-radius: 4px
) {
	background-color: $background-color;
	$filter: blur($blur);
	backdrop-filter: $filter;
	-webkit-backdrop-filter: $filter;
	border-top: $border-light;
	border-left: $border-light;
	border-bottom: $border-dark;
	border-right: $border-dark;
	border-radius: $border-radius;
}
