$breakpoint: 718px;
$breakpoint_hamburger_menu: 825px;
$breakpoint_ultra_narrow: 380px;

@mixin pc {
	@media screen and (min-width: $breakpoint) {
		@content;
	}
}

@mixin sp {
	@media screen and (max-width: #{$breakpoint - 1}) {
		@content;
	}
}

@mixin hm {
	@media screen and (max-width: #{$breakpoint_hamburger_menu - 1}) {
		@content;
	}
}

@mixin not_un {
	@media screen and (min-width: $breakpoint_ultra_narrow) {
		@content;
	}
}
