@use '../variables/dimension' as *;
@use '../variables/color' as *;
@use '../variables/mixin' as *;

button {
	$btn-size: $header-height * 0.82;
	height: $btn-size;
	width: $btn-size;
	background: $button-primary;
	border: 3px solid $button-secondary;
	cursor: pointer;
	border-radius: 4px;
	margin: 0 6px;
	margin-top: 6.66px; // $header-height * 0.5 - $btn-size * 0.5}
	font-family: inherit;
	filter: drop-shadow(0 0 4px #0000008a);
	transition: 0.2s;

	&:hover {
		transform: translateY(2px);
	}
}

svg,
span {
	display: inline-block;
	position: relative;
}

svg {
	height: 32.4px;
	width: auto;
	fill: $text-dark;
	top: 2px;
	transform: scale(1.1);
}

span {
	font-size: 8px;
	font-weight: 900;
	color: $text-dark;
	top: -7px;
	letter-spacing: -0.95px;
	white-space: nowrap;
	transform: scale(1.56);
}
