@use '../variables/dimension' as *;
@use '../variables/color' as *;
@use '../variables/mixin' as *;

button {
	$btn-size: $header-height * 0.82;
	height: $btn-size;
	width: $btn-size;
	background: #b39e79;
	border: 3px solid #cab99c;
	cursor: pointer;
	border-radius: 4px;
	margin: 0 6px;
	font-family: inherit;
	filter: drop-shadow(0 0 4px #0000008a);
	transition: 0.2s;

	&:hover {
		transform: translateY(2px);
	}

	svg,
	span {
		display: inline-block;
	}

	svg {
		height: 32.4px;
		width: auto;
		fill: $text-dark;
		position: relative;
		top: 2px;
		transform: scale(1.1);
	}

	span {
		font-size: 8px;
		font-weight: 900;
		color: $text-dark;
		position: relative;
		top: -7px;
		letter-spacing: -0.95px;
		white-space: nowrap;
		transform: scale(1.56);
	}
}
