@use 'sass:math';

@use '../variables/color' as *;
@use '../variables/dimension' as *;
@use '../variables/mixin' as *;

header,
#header-bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 127;
}

header {
	width: 100vw;
	height: $header-height;

	#logo {
		$logo-size: $header-height * 0.8;

		width: $logo-size;
		height: $logo-size;
		position: absolute;
		text-decoration: none;
		transition: 0.2s ease-in;

		img {
			position: relative;
			width: $logo-size;
			height: $logo-size;
			transition: 0.1s ease-in;
			z-index: 129;
		}

		&::after {
			content: 'Rinrin.rs';
			color: $text-primary;
			font-size: $logo-size * 0.6;
			position: absolute;
			font-weight: 300;
			transition: 0.1s;
			z-index: 128;
		}

		&:not(.center) {
			top: $header-height * 0.1;
			left: 0;
			transform: translateX($header-height * 0.3);

			&::after {
				top: 6px;
				left: -128px;
				clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
			}

			@include not_un {
				&:hover {
					img {
						transform: translateX(-$header-height * 0.26);
					}

					&::after {
						transform: translateX(170px);
						clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
					}
				}
			}
		}

		&.center {
			top: 50%;
			left: 50%;
			$tl-x: translateX(-50%);
			transform: $tl-x;

			&:hover img {
				animation: sway 0.4s ease-in-out forwards;

				@keyframes sway {
					20% {
						transform: rotate(28deg);
					}

					50% {
						transform: rotate(-28deg);
					}

					80% {
						transform: rotate(16deg);
					}

					100% {
						transform: rotate(0deg);
					}
				}
			}

			&::after {
				left: 50%;
				transform: translate(-50%, $logo-size * 0.9);
			}

			&.fade-in {
				opacity: 0;
				animation: fadeInDown 0.9s ease-out forwards;

				@keyframes fadeInDown {
					0% {
						opacity: 0;
						filter: blur(32px);
						transform: $tl-x translateY(-64px);
					}

					100% {
						opacity: 1;
						filter: blur(0);
						transform: $tl-x;
					}
				}
			}
		}
	}

	nav {
		display: flex;
		justify-content: right;
		align-items: center;
		height: $header-height;

		a {
			text-decoration: none;
			height: $header-height;
			padding: 0 9px;

			@include hm {
				display: none;
			}

			&:last-child {
				margin-right: 8px;
			}

			&:hover {
				background-color: #ffe6c450;
			}

			span {
				display: block;
				margin: 0 auto;
			}

			span {
				color: $text-dark;
				font-size: 16px;
				position: relative;
				top: -2px;
			}
		}

		a,
		div {
			transition: 0.16s;
		}

		.at-top {
			transform: translateY(-72px);
		}
	}
}

#header-bg {
	width: 120vw;
	height: $header-height * 2;
	transform: translate(-10vw, -$header-height);
	background: linear-gradient(-6deg, $header-primary, $header-secondary);
	box-shadow: 0 0 14px #0000008a;
	transition: 0.4s;

	&.blur {
		transform: translate(-10vw, math.div(-$header-height, 2));
		filter: blur(28px);
		background: radial-gradient(
			ellipse at center,
			$header-secondary 20%,
			$header-tertiary 25%,
			$header-primary 75%
		);
		box-shadow: 0 4px 14px $header-primary;
	}
}
