@use '../variables/mixin' as *;
@use '../variables/color' as *;

.article-body {
	$width-change-rate: calc(100vw - $breakpoint);
	max-width: min(calc($width-change-rate * 0.3 + 768px), 1024px);
	margin: 0 auto;
	margin-top: 16px;
	padding: 0 13px;

	@include sp {
		padding: 0 max(2px, calc(6vw - 32px));
	}

	> div {
		text-align: left;
		font-size: 18px;
		padding: 0 min(calc($width-change-rate * 0.1 + 18px), 48px);
		padding-bottom: 32px;
		line-height: 1.5;
		@include glassmorphism;

		@include sp {
			font-size: 16px;
			padding: 0 13px;
		}

		p {
			margin: 1.25em 0;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 1.25em 0 0.4em 0;
			text-wrap: balance;
			@include bold;

			> a {
				text-decoration: none;

				&:hover .icon-link::before {
					opacity: 1;
				}
			}

			.icon-link::before {
				content: '#';
				font-family: 'Source Code Pro', monospace;
				color: $text-dark;
				opacity: 0.3;
			}

			&:hover .icon-link::before {
				opacity: 0.6;
			}
		}

		h1 {
			font-size: 40px;

			@include sp {
				font-size: 32px;
			}
		}

		h2 {
			font-size: 32px;

			@include sp {
				font-size: 26px;
			}
		}

		h3 {
			font-size: 26px;

			@include sp {
				font-size: 22px;
			}
		}

		h4 {
			font-size: 22px;

			@include sp {
				font-size: 18px;
			}
		}

		h5 {
			font-size: 18px;

			@include sp {
				font-size: 16px;
			}
		}

		h6 {
			font-size: 15px;

			@include sp {
				font-size: 14px;
			}
		}

		ul,
		ol {
			padding-left: 2em;
		}

		hr {
			border: none;
			border-bottom: 1px solid $text-dark;
			margin: 1.25em 0;
			opacity: 0.6;
		}

		img {
			max-width: 100%;
		}

		strong {
			@include bold;
		}

		blockquote {
			margin: 0.8em 0;
			border-left: 5px solid $text-dark;
			padding: 1px 18px;
		}

		code {
			font-family: 'Source Code Pro', monospace;
			background-color: #282a36;
			color: #f8f8f2;
			padding: 2px 6px;
			border-radius: 6px;
			word-break: break-all;

			&,
			* {
				&::selection {
					background-color: #1e569888;
					color: inherit;
				}
			}
		}

		pre code {
			display: block;
			padding: 16px 20px;
			scrollbar-color: white transparent;
			overflow-x: scroll;
			word-break: break-all;
			line-height: 1.28;
		}

		table {
			font-size: 16px;
			margin: 12px 0;
			overflow-x: scroll;
			border-collapse: collapse;
			border-radius: 2px;
			word-break: break-all;

			@include sp {
				display: block;
				font-size: 11px;
				white-space: nowrap;
			}

			th,
			td {
				max-width: 383px;
				padding: 8px 12px;
				border: 1px solid rgba($text-primary, 0.1);

				@include sp {
					max-width: initial;
					width: 100vw;
				}
			}

			th {
				background-color: rgba($text-primary, 0.22);
				border-bottom: 2px solid $text-primary;
			}

			td {
				background-color: rgba($text-primary, 0.11);
			}
		}

		details {
			summary {
				cursor: pointer;
				font-size: 24px;
				padding: 0 12px;
				border-radius: 1px;
				transition: 0.2s;
				@include bold;

				&::marker {
					font-size: 24px;
				}

				&:hover {
					background-color: rgba($text-primary, 0.2);
				}

				@include sp {
					font-size: 22px;
				}
			}
		}

		iframe {
			max-width: 100%;
			border-radius: 4px;
		}

		.yt-embed {
			width: 100%;
			min-height: 372px;
		}
	}
}
