@use '../variables/mixin' as *;

li {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 4px;
    background-color: #1f1f1f;
    border-radius: 3px;

    @include sp {
        margin-bottom: 13px;
    }
}

.tag-btn {
    background: none;
    border: none;
    padding: 0 7px;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    color: #e9e9e9;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
