@use './variables/mixin' as *;

ul {
    max-width: 1024px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

li {
    margin: 24px 16px;
}

a {
    color: inherit !important;
    text-decoration: none;
}

$bottom-padding: 28px;

article {
    display: grid;
    grid-template-columns: 45% 1fr;
    padding: 16px 18px;
    padding-bottom: $bottom-padding;
    background-color: #faf7ed9a;
    border-radius: 5px;
    $border-light: 3px solid #ffffff50;
    $border-dark: 3px solid #00000020;
    border-top: $border-light;
    border-left: $border-light;
    border-bottom: $border-dark;
    border-right: $border-dark;
    box-shadow: 0 0 10px 0 #051a3340;
    transition: 0.2s;

    &:hover {
        filter: brightness(1.1);

        img {
            filter: grayscale(0.5) contrast(1.2);
        }

        .meta {
            opacity: 0.8;

            &::after {
                left: 18px;
            }
        } 
    }
}

.thumbnail {
    grid-column: 1 / 2;
    grid-row: 1;
    text-align: center;
    max-height: 182px;
}

img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 6px;
    border: 1px solid #0000002a;
}

.meta {
    grid-column: 2 / 3;
    grid-row: 1;
    text-align: left;
    padding-left: 22px;

    &::after {
        content: 'read more ->';
        display: block;
        position: relative;
        left: 0;
        margin-top: 10px;
        font-size: 14px;
        font-weight: bold;
        text-decoration: underline;
        transition: 0.2s;
    }
}

h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
}

time {
    display: block;
    font-size: 15px;
    font-weight: bold;
    opacity: 0.7;
    margin-top: 4px;
}

p {
    font-size: 18px;
    font-weight: lighter;
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
}
