@use './variables/color' as *;
@use './variables/mixin' as *;

ul {
	$max-width: 640px;

	padding: 0;
	margin: 64px auto;
	$border: 2px dotted $line-primary;
	border-left: $border;
	border-right: $border;
	max-width: $max-width;

	// 2px is the width of the border
	@media screen and (max-width: ($max-width + 4px)) {
		border: none;
	}

	li {
		display: flex;
		justify-content: center;
		text-align: left;
		margin: 0 32px 0 16px;

		@include sp {
			margin: 0 24px 0 12px;
		}

		h1 {
			font-family: 'Source Code Pro', monospace;
			font-weight: 200;
			position: relative;
			bottom: 32px;
			padding-right: 22px;
			margin: 0;
			border-right: 1px solid $line-primary;
			white-space: nowrap;
			font-size: 18px;

			@include sp {
				font-size: 16px;
				padding-right: 10px;
			}

			&:not(.no-pin):after {
				content: '';
				$size: 18px;
				width: $size;
				height: $size;
				background-color: #5f4730;
				transform: rotate(45deg);
				position: absolute;
				left: 109.99px;

				@include sp {
					$size: 12px;
					width: $size;
					height: $size;
					left: 89.99px;
				}
			}
		}

		div {
			$separator-color: rgba($line-primary, 0.7);

			position: relative;
			bottom: 32px;
			left: 24px;
			width: 512px;
			font-size: 16px;
			font-weight: bold;
			border-bottom: 2.5px solid $separator-color;
			padding: 0 6px 3px 12px;
			margin-bottom: 48px;

			@include sp {
				left: 8px;
				font-size: 14px;
			}

			&:before {
				content: '';
				display: inline-block;
				width: 1px;
				height: 100%;
				background-color: $separator-color;
				position: absolute;
				left: 3px;
			}
		}
	}
}
