@use '/assets/stylesheets/variables/color' as *;
@use '/assets/stylesheets/variables/dimension' as *;

footer {
	height: $footer-height;
	background-color: $text-primary;
	color: $bg-primary;

	h1 {
		font-size: 18px;
		font-weight: 200;
		padding: 32px 0;
		margin: 0;
	}

	::selection {
		background: $bg-primary;
		color: $text-primary;
	}
}
