@use './variables/color' as *;
@use './variables/dimension' as *;
@use './variables/mixin' as *;

footer {
	height: $footer-height;
	background-color: $text-primary;
	color: $bg-primary;

	::selection {
		background: $bg-primary;
		color: $text-primary;
	}
}

.copyright {
	font-size: 18px;
	font-weight: 200;
	padding: 32px 0;
	margin: 0;

	@include sp {
		font-size: 14px;
	}
}

.feed-btn {
	$size: 32px;
	width: $size;
	height: $size;
	float: left;
	padding: 4px;
	margin-left: 24px;
	background: $button-primary;
	border: 3px solid $button-secondary;
	border-radius: 4px;
	box-shadow: 0 0 14px #00000050;
	transition: 0.2s;

	&:hover {
		filter: brightness(1.06);
		transform: translateY(3px);
	}
}

.rss-icon {
	width: 100%;
	height: 100%;
	fill: $text-dark;
}

.go-to-home-btn {
	float: right;
	margin-top: -22px;
	margin-right: 26px;
	text-decoration: none;
	color: $bg-primary;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba($button-primary, 0.29);
	border: 2px solid rgba($button-secondary, 0.31);
	padding: 7px;
	border-radius: 4px;
	transition: 0.2s;

	&:hover {
		transform: translateY(-6px);
	}
}

.home-icon {
	$size: 26px;
	width: $size;
	height: $size;
}

.home-text {
	font-size: 14px;
	font-weight: 900;
}
