@use './variables/color' as *;
@use './variables/dimension' as *;
@use './variables/mixin' as *;

footer {
	height: $footer-height;
	background-color: $text-primary;
	color: $bg-primary;

	h1 {
		font-size: 18px;
		font-weight: 200;
		padding: 32px 0;
		margin: 0;

		@include sp {
			font-size: 14px;
		}
	}

	::selection {
		background: $bg-primary;
		color: $text-primary;
	}
}
