@font-face {
    font-family: "Kiwi Maru";
    src: url("../fonts/Kiwi_Maru/KiwiMaru-Medium.ttf");
}

* {
	scrollbar-color: #82624a transparent;
}

html {
    font-family: "Kiwi Maru", serif;
    background-color: #f5deb3;
    color: #533618;
	text-align: center;
    scroll-behavior: smooth;
}
