@font-face {
	font-family: 'Kiwi Maru';
	src: url('../fonts/Kiwi_Maru/KiwiMaru-Medium.ttf');
}

@font-face {
	font-family: 'Source Code Pro';
	src: url('../fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf');
}

html {
	font-family: 'Kiwi Maru', serif;
	color: #533618;
	text-align: center;
	scroll-behavior: smooth;
}

html::before {
	content: '';
	background: linear-gradient(152deg, #f5deb3, #f7f5f1ab 42%, #f7f5f1ab 68%, #f5deb3),
		url('/images/wallpapers/sd_mountain.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(var(--max-vh001, 1vh) * 100);
	z-index: -1;
}

body {
	margin: 0;
	/* Anti Dark reader  */
	background: none;
}

* {
	scrollbar-color: #82624a transparent;
	/* See the value of `$footer-height` in `./variables/dimension.scss` */
	scroll-margin-top: 128px;
}

::selection {
	background: #533618;
	color: #f5deb3;
}

a,
.a {
	color: #2b43bd;
	text-decoration: underline;
	cursor: pointer;
	transition: 0.16s;
}

a:hover,
.a:hover {
	color: #2b8fbd;
}

a:active,
.a:active {
	color: #2bbdb1;
}
