@font-face {
	font-family: 'Kiwi Maru';
	src: url('../fonts/Kiwi_Maru/KiwiMaru-Medium.ttf');
}

html {
	font-family: 'Kiwi Maru', serif;
	color: #533618;
	text-align: center;
	scroll-behavior: smooth;
	background-color: #382b1b;
}

body {
	margin: 0;
}

* {
	scrollbar-color: #82624a transparent;
}

::selection {
	background: #533618;
	color: #fcf0d9;
}
