@use './variables/color' as *;
@use './variables/dimension' as *;

main {
	$header-space: $header-height * 2;

	min-height: calc(100vh - $header-space - $footer-height);
	margin-top: $header-space;
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}
