@use './variables/mixin' as *;

section {
	margin: 64px 0;

	p {
		font-weight: bold;
		padding: 0 18px;
		margin: 10px auto;
		max-width: 512px;
		font-size: 20px;

		&:not(.large) {
			font-size: 18px;

			@include sp {
				font-size: 16px;
				padding: 0 14px;
			}
		}
	}
}

a, .a {
	color: #2b43bd;
	text-decoration: underline;
	cursor: pointer;
	transition: 0.16s;

	&:hover {
		color: #2b8fbd;
	}

	&:active {
		color: #2bbdb1;
	}
}
