@use './variables/mixin' as *;

section {
	margin: 64px 0;

	p {
		font-weight: bold;
		padding: 0 18px;
		margin: 10px auto;
		max-width: 512px;

		&:not(#large) {
			font-size: 18px;

			@include sp {
				font-size: 16px;
				padding: 0 14px;
			}
		}

		&#large {
			font-size: 20px;
		}
	}
}
